@import "partials/swiper-custom.css";
@import "partials/contact-us-popup.css";
@import "partials/footer.css";

@import "pages/main.css";
@import "pages/plans.css";
@import "pages/faq.css";
@import "pages/projects.css";
@import "pages/project.css";
@import "pages/about-us.css";

:root {
    --lunar-green: #2F4032;
    --lunar-green-transparent: rgba(47, 64, 50, 0.9);
    --mantis: #98A69A;
    --zhytomyr: #697368;
    --berdychiv: #555931;
    --dym-green: #A3A65B;

    --gostra-sumish: #8C543F;
    --millbrook: #593831;

    --snow-ash: #F1F2E9;
    --beton: #F2F2F2;
    --buckwheat-shadow: #D6D9C5;
    --color-black: #0a0808;
    --color-red: #7a1b0c;

    --header-slogan-height: 30px;
    --header-navigation-height: 50px;
    --header-desktop-height: calc(var(--header-slogan-height) + var(--header-navigation-height));

    --footer-desktop-height: 500px;
    --baner-height: 35svh;
    --baner-max-height: 600px;

    --max-content-width: 1440px;
    --min-content-height: calc(100svh  - var(--footer-desktop-height));

    --fancybox-zIndex: 2000;

    --home-item-graient: linear-gradient(13deg, rgba(152,166,154,1) 0%, rgba(47,64,50,1) 100%)
}

.fx-row {
    display: flex;
    flex-direction: row;
}

.fx-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.anim {
    transition: all .5s ease-in-out;
}

.txt-col-black {
    color: var(--color-black);
}

.txt-col-white {
    color: var(--snow-ash);
}

h1, h2, h3 {
    all: unset;
}

/*PAGE LOADER*/

#loading-screen {
    position: fixed;
    width: 100%;
    background: var(--snow-ash);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    overflow: hidden;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#loading-screen._show {
    opacity: 1 !important;
    z-index: 9999 !important;
    /*height: 100vh !important;*/
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--color-black);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#call {
    position: fixed;
    z-index: 1500;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--snow-ash);
    animation: blink-shadow 2s infinite alternate;
    box-shadow: 0 0 25px var(--color-black)
}

@keyframes blink-shadow {
    0% {
        box-shadow: 0 0 25px var(--snow-ash);
    }
    50% {
        box-shadow: 0 0 25px var(--color-black);
    }
    100% {
        box-shadow: 0 0 25px var(--snow-ash);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    background: transparent none;
    color: var(--color-black);
}

input, textarea, button {
    user-select: none;
    outline: none;
    background-color: transparent;
    color: var(--color-black);
    appearance: none;
    border: none;
    padding: 0;
    resize: none;
}

header#header {
    width: 100%;
    height: var(--header-desktop-height);
    background: var(--snow-ash);
    position: fixed;
    top: 0;
    box-shadow: 0 4px 20px var(--color-black);
    z-index: 1050;
    justify-content: center;
    align-items: center;
}

div.header__slogan {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--header-slogan-height);
    background: var(--color-black);
    font-size: 17px;
    font-weight: 400;
    color: var(--snow-ash);
    font-style: normal;
}

div.header__content {
    justify-content: space-between;
    align-items: center;
    height: var(--header-navigation-height);
    max-width: var(--max-content-width);
    width: 100%;
}

div.header__content-logo_burger {
    justify-content: center;
    align-items: center;
    gap: 20px
}

div.mobile__menu {
    display: block !important;
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

div.menu__item {
    flex: 0;
    height: auto;
    position: unset;
}

div.menu__item div.menu__item--content {
    min-height: 50px !important;
    height: 50px !important;
    max-height: 50px !important;
}

div.mobile__menu.active span.bar:nth-of-type(1) {
    display: none;
}

div.mobile__menu.active span.bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

div.mobile__menu.active span.bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

div.mobile__menu span.bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: var(--color-black);
    transition: all 0.3s ease-in-out;
}

div.mobile__menu span.bar:nth-of-type(2) {
    top: calc(50% - 9px);
}

div.mobile__menu span.bar:nth-of-type(3) {
    top: calc(50% + 9px);
}

div.header__content-logo {
    font-size: 30px;
    font-weight: 500;
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
}

div.header__socials {
    gap: 7px;
    align-items: center;
    width: auto;
    height: 100%;
}

a.header__socials-item, a#_tel {
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: unset;
    color: var(--color-black);
}

a.header__socials-item:hover, a#_tel:hover {
    transform: scale(1.08);
    transition: transform .3s ease-in-out;
}

div#_header__menu_overlay._show {
    height: calc(100svh - var(--header-desktop-height)) !important;
    background-color: var(--lunar-green-transparent);
    overflow: auto !important;
}

div#_header__menu_overlay._show ul.header__menu {
    height: 500px !important;
    overflow: auto !important;
    opacity: 1 !important;
}

div#_header__menu_overlay {
    display: flex;
    justify-content: center;
    height: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: var(--header-desktop-height);
    z-index: 1300;
    transition: all 0.5s;
}

div#_header__menu_content {
    width: 100%;
    max-width: var(--max-content-width);
}

ul.header__menu {
    background-color: var(--snow-ash);
    overflow: hidden;
    height: 0;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
    box-shadow: 0 4px 20px var(--color-black);
    transition: all .4s ease;
    opacity: 0;
}

li._header__menu_item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 500;
}

div#_main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--snow-ash);
}

div#_contact_us_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: var(--header-slogan-height);
    left: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    background: var(--lunar-green-transparent);
    transition: all .5s ease-in-out;
    opacity: 0;
    padding: 0 2%;
}

div#_contact_us_modal._show  {
    height: 100vh;
    opacity: 1;
    padding-top: var(--header-desktop-height);
}

@media (max-width: 1450px) {
    #header > div.header__content.fx-row {
        padding: 0 20px;
    }
}

@media (max-width: 1050px) {
    div.header__slogan {
        font-size: 14px;
    }

    :root {
        --header-slogan-height: 30px;
        --header-navigation-height: 50px;
        --header-desktop-height: calc(var(--header-slogan-height) + var(--header-navigation-height));
    }
}

@media (max-width: 768px) {
    ul.header__menu {
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    div.header__content-logo {
        display: none;
    }

    li._header__menu_item {
        font-size: 16px;
    }
}
