@import "partials/swiper-custom.css";
@import "partials/contact-us-popup.css";
@import "partials/header.css";
@import "partials/footer.css";
@import "partials/theme-switcher.css";
@import "components/tooltip.css";

@import "pages/home.css";
@import "pages/plans.css";
@import "pages/faq.css";
@import "pages/projects.css";
@import "pages/project.css";
@import "pages/about-us.css";

:root {
    --color-black: #000000;
    --color-white: #ffffff;

    --header-slogan-height: 0px;
    --header-navigation-height: 80px;
    --header-desktop-height: calc(var(--header-slogan-height) + var(--header-navigation-height));

    --footer-desktop-height: 500px;
    --baner-height: 35svh;
    --baner-max-height: 600px;

    --max-content-width: 1440px;
    --min-content-height: calc(100svh - var(--footer-desktop-height));

    --fancybox-zIndex: 2000;
    --home-item-graient: linear-gradient(13deg, rgba(1, 1, 1, 1) 0%, rgba(999, 999, 999, 1) 100%)
}

.f-s-14 {
    font-size: 14px;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-18 {
    font-size: 18px;
}

.f-s-20 {
    font-size: 20px;
}

.f-s-24 {
    font-size: 24px;
}

.f-s-30 {
    font-size: 30px;
}
.f-s-32 {
    font-size: 32px;
}

.f-300 {
    font-weight: 300;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

.fx-row {
    display: flex;
    flex-direction: row;
}

.fx-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.anim {
    transition: all .5s ease-in-out;
}

.border-rds {
    border-radius: 2px;
}

h1, h2, h3 {
    all: unset;
}

/*PAGE LOADER*/
#loading-screen {
    position: fixed;
    width: 100%;
    background: #000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    overflow: hidden;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#loading-screen._show {
    opacity: 1 !important;
    z-index: 9999 !important;
    /*height: 100vh !important;*/
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#call {
    position: fixed;
    z-index: 1500;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--color-1);
    animation: blink-shadow 2s infinite alternate;
}

#call i {
    color: var(--color-text-1);
}

@keyframes blink-shadow {
    0% {
        box-shadow: 0 0 25px var(--color-1);
    }
    50% {
        box-shadow: 0 0 25px var(--color-text-1);
    }
    100% {
        box-shadow: 0 0 25px var(--color-1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    background: transparent none;
    color: unset;
}

input, textarea, button {
    user-select: none;
    outline: none;
    background-color: transparent;
    appearance: none;
    border: none;
    padding: 0;
    resize: none;
}

body._no_scroll {
    overflow: hidden;
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1500;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--color-1);
    color: var(--color-text-1);
    box-shadow: 0 4px 8px var(--color-text-1);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    max-width: 350px;
    /*background: rgba(255, 255, 255, .8);*/
    /*color: #333333;*/
}

.notification-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notification i {
    font-size: 1.2rem;
}

.notification.fade-out {
    opacity: 0;
}

#_main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--color-5);
}

@media (max-width: 1440px) {
    section.main__content,
    div.projects__content,
    div.project__content,
    div.plans__content,
    div#faq__content
    {
        padding: 35px 10px;
    }

    div#_about_us__content {
        padding: 0 20px;
    }
}

