div#faq__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: max-content;
    min-height: calc(70svh - var(--header-desktop-height));
    /*background: var(--snow-ash);*/
    margin-top: var(--header-desktop-height);
    padding: 50px 0;
}

div.faq__content-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    /*row-gap: 20px;*/
}

div.faq__content-item {
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid var(--color-text-1);!**!*/
    border-radius: 4px;
    padding: 10px;
    /*background-color: var(--color-1);*/
    color: var(--color-text-1);
    position: relative;
}

div.faq__content-item_answer::after {
    content: '+';
    position: absolute;
    font-size: 50px;
    font-weight: 300;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 30px;
    text-align: center;
    animation: switch .3s ease-in-out;
}

div.faq__content-item_answer._show::after {
    content: '-';
    width: 30px;
    text-align: center;
    font-weight: 300;
}

div.faq__content-item_question {
    align-content: center;
    height: auto;
    min-height: 70px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding-right: 50px;
    padding-left: 5%;
    width: 100%;
}

div.faq__content-item_answer {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    padding-right: 50px;
    padding-left: 5%;
}

div.faq__content-item_answer._show {
    height: auto !important;
    overflow: auto !important;
}

@media (max-width: 550px) {
    div.faq__content-item_question {
        font-size: 16px;
    }

    div.faq__content-item_answer {
        font-size: 14px;
    }
}
