div#faq__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: var(--max-content-width);
    height: max-content;
    min-height: calc(70svh - var(--header-desktop-height));
    margin-top: var(--header-desktop-height);
    padding: 30px 0;
}

div.faq__content-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 16px;
    perspective: 1000px;
}

div.faq__content-item {
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    color: var(--color-text-1);
    position: relative;
    background: var(--color-3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    overflow: hidden;
    margin-bottom: 5px;
}

html[data-theme='dark'] .faq__content-item {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

div.faq__content-item_question::after {
    content: '+';
    position: absolute;
    font-size: 40px;
    font-weight: 300;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text-1);
    transition: transform 0.3s ease-in-out;
}

div.faq__content-item_answer._show + div.faq__content-item_question::after {
    content: '−';
    transform: translateY(-50%) rotate(180deg);
}

div.faq__content-item_question {
    align-content: center;
    height: auto;
    min-height: 80px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 25px 70px 25px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

div.faq__content-item_answer {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 0 30px;
    line-height: 1.6;
    opacity: 0;
}

div.faq__content-item_answer._show {
    height: auto !important;
    max-height: 1000px !important;
    overflow: auto !important;
    padding: 30px 30px 0 30px;
    opacity: 1;
}

@media (max-width: 768px) {
    div#faq__content {
        padding: 40px 15px;
    }

    div.faq__content-item {
        border-radius: 4px;
    }

    div.faq__content-item_question {
        font-size: 17px;
        padding: 20px 60px 20px 20px;
        min-height: 70px;
    }

    div.faq__content-item_question::after {
        font-size:  35px;
        right: 20px;
    }

    div.faq__content-item_answer {
        font-size: 15px;
        padding: 0 20px;
    }

    div.faq__content-item_answer._show {
        padding: 5px 20px 25px 20px;
    }
}

@media (max-width: 550px) {
    div.faq__content-item_question {
        font-size: 16px;
        padding: 18px 50px 18px 15px;
    }

    div.faq__content-item_answer {
        font-size: 14px;
        padding: 0 15px;
    }

    div.faq__content-item_answer._show {
        padding: 5px 15px 20px 15px;
    }

    div.faq__content-item_question::after {
        font-size: 30px;
        right: 15px;
        width: 25px;
        height: 25px;
    }
}
