div.plans__content {
    width: 100%;
    max-width: 1440px;
    height: auto;
    min-height: calc(100svh - var(--header-desktop-height));
    margin-top: var(--header-desktop-height);
}

div.plans__content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    width: 100%;
    padding: 20px;
    gap: 30px;
}

.plans__item--wrap {
    height: 100%;
    border-radius: 17px;
}

.plans__item--wrap._promotional {
    box-shadow: 0 4px 20px var(--snow-ash);
    background: rgba(0,0,0, .4);
}

.plans__item--title {
    height: 70px;
    font-weight: 700;
    font-size: 30px;
}

.plans__item--wrap._promotional  .plans__item--title {
    background-color: var(--snow-ash);
    border-radius: 17px 17px 0 0 ;
}

.plans__item--wrap._promotional  .plans__content-item {
    border-radius:  0 0 17px 17px;
}

div.plans__content-item {
    padding: 20px 0 ;
    height: calc(100% - 70px);
    color: var(--snow-ash);
    background: rgba(0,0,0, .4);
    border-radius: 17px;
    gap: 10px;
}

div.plan__header {
    width: 100%;
    gap: 20px;
    padding: 0 25px;
}

div.plan__header-title {
    height: 50px;
    min-height: 50px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

div.plan__header-desc {
    height: auto;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    min-height: 70px;
    align-content: center;
}

div.plan__list_services {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;

}

div.plan__service {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    padding: 0 25px;

}

.plan__service:nth-child(2n) {
    background: rgba(240, 240, 240, .03);
}

div.plan__price {
    height: 50px;
    min-height: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.plan__btn {
    width: 60%;
    text-align: center;
    border-radius: 10px;
    background: var(--snow-ash);
    height: 90px;
    font-weight: 700;
    font-size: 18px;
    align-self: center;
}

@media (max-width: 1150px) {
    div.plans__content-list {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media (max-width: 600px) {
    div.plans__content-list {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}


