.projects__content {
    width: 100%;
    max-width: 1440px;
    min-height: calc(100svh  - var(--header-desktop-height) + 100px);
    align-items: center;
    justify-content: start;
    margin-top: var(--header-desktop-height);
    padding: 35px 0;
    gap: 35px;
}

.projects__choose {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-3);
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 5px var(--color-2);
    opacity: .8;
    width: 80%;
    max-width: 900px;
    height: 40px;
}

.projects__choose--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: all .4s ease-in-out;
    position: relative;
    font-size: 20px;
    color: var(--color-1);
    background: var(--color-5);
    border: 1px solid var(--color-5);
    height: 100%;
}

.projects__choose--btn._selected {
    background-color: var(--color-1);
    color: var(--color-5);
    border: 1px solid var(--color-1);
}

.projects__choose-btn:hover {
    background-size: 105% 105% ;
}
.projects__choose-btn:hover h2 {
     left: 50px; ;
}

.projects__choose-btn h2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-1);
    left: 20px;
    bottom: 20px;
    position: absolute;
    transition: all .4s ease-in-out;
}

.projects__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 5px;
}

.projects__grid-item {
    cursor: pointer;
    z-index: 600;
    position: relative;
    padding-top: 56.25%;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(10px);
    transition: background-size .5s ease-in-out;
}

.projects__grid-item:hover {
    cursor: pointer;
    background-size: 110% 110%;
}

.projects__grid-item:hover .projects__grid-item_title {
    padding-left: 40px;
}

.projects__grid-item::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5326505602240896) 54%, rgba(0, 0, 0, 1) 100%);
    opacity: 0;
    transition: all .5s ease-in-out;
}

.projects__grid-item:hover::before {
    opacity: 1;
}

.projects__grid-item_title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    color: var(--color-white);
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    transition: padding-left 0.5s ease-in-out;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    div.projects__choose {
        width: 100%;
        margin-top: 20px;
    }

    button.projects__choose--btn {
        font-size: 16px;
    }

    div.projects__content {
        gap: 20px;
    }
}

@media (max-width: 850px) {
    div.projects__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    a.projects__choose-btn {
        width: 90%;
        height: 45%;
        max-height: 300px;
    }
}
