#_contact_us {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
    min-height: 400px;
    padding: 0 3%;
}

div._contact_us__title {
    color: var(--color-text-1);
    text-transform: uppercase;
    width: 100%;
}

form#_contact_us_form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

._contact_us_input_wrap {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-text-1);
}

._contact_us_input_wrap.comment {
    height: 50px;
    position: relative;
}

._contact_us_input {
    width: 100%;
    transition: background-color 5000s;
    background: transparent !important;
    color: var(--color-text-1) !important;
    -webkit-text-fill-color:  var(--color-text-1) !important;
}

._contact_us_input:-webkit-autofill {
    background-color: transparent !important;
    color: var(--color-text-1) !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: var(--color-text-1)  !important;
    transition: background-color 5000s ease-in-out 0s; /* трюк для уникнення фонового спалаху */
}

#_selected_plan {
    width: 100%;
    display: none;
    color: var(--color-text-1);
    height: 50px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

#_selected_plan._show {
    display: flex;
}

button#_form_btn_submit {
    border: 1px solid var(--color-text-1);
    cursor: pointer;
    color: var(--color-text-1);
    /*background-color: var(--snow-ash);*/
}

#_form_btn_submit:hover {
    background: var(--color-5);
}

button#_form_btn_submit {
    border-radius: 4px;
    height: 50px;
    width: 100%;
}

button#_file_upload_clean_btn:hover, button#_file_upload_btn:hover, button#_form_btn_submit:hover {
    transition: all .2s ease-in-out;
}

.custom-placeholder {
    position: absolute;
    bottom: 10px;
    color: var(--color-text-1);
    pointer-events: none;
    transition: opacity 0.2s;
}

/* Сховати placeholder, коли щось введено */
textarea:focus + .custom-placeholder,
textarea:not(:placeholder-shown) + .custom-placeholder {
    opacity: 0;
}

@media  (max-width: 700px) {
    #_contact_us {
        padding: 0 15px;
    }
}
