header#header {
    width: 100%;
    height: var(--header-desktop-height);
    background: var(--color-1);
    position: fixed;
    top: 0;
    box-shadow: 0 4px 30px -10px var(--color-text-1);
    z-index: 1050;
    justify-content: center;
    align-items: center;
    color: var(--color-text-1);
}

div.header__slogan {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--header-slogan-height);
    background: var(--color-black) !important;
    color: var(--color-white) !important;
    display: none !important;
}

div.header__content {
    justify-content: space-between;
    align-items: center;
    height: var(--header-navigation-height);
    max-width: var(--max-content-width);
    width: 100%;
}

div.header__content-logo_burger {
    justify-content: center;
    align-items: center;
    gap: 20px
}

div.mobile__menu {
    display: block !important;
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

div.menu__item {
    flex: 0;
    height: auto;
    position: unset;
}

div.menu__item div.menu__item--content {
    min-height: 50px !important;
    height: 50px !important;
    max-height: 50px !important;
}

div.mobile__menu.active span.bar:nth-of-type(1) {
    display: none;
}

div.mobile__menu.active span.bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

div.mobile__menu.active span.bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

div.mobile__menu span.bar {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    background: var(--color-text-1);
}

div.mobile__menu span.bar:nth-of-type(2) {
    top: calc(50% - 8px);
}

div.mobile__menu span.bar:nth-of-type(3) {
    top: calc(50% + 8px);
}

div.header__content-logo {
    text-align: center;
    text-transform: uppercase;
}

.header__socials._mobile {
    display: none;
}

div.header__socials {
    gap: 7px;
    align-items: center;
    width: auto;
}

a.header__socials-item, a#_tel {
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: unset;
    /*color: var(--color-black);*/
}

.header__socials-item:hover, a#_tel:hover {
    transform: scale(1.08);
    transition: transform .3s ease-in-out;
}

.local-switch {
    margin-left: 25px;
}

#_header__menu_overlay._show {
    height: calc(100svh - var(--header-desktop-height)) !important;
    overflow: auto !important;
}

#_header__menu_overlay._show .header__menu--modal {
    height: 320px !important;
    overflow: auto !important;
    opacity: 1 !important;
}

#_header__menu_overlay {
    display: flex;
    justify-content: center;
    height: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: var(--header-desktop-height);
    z-index: 1300;
    transition: all 0.5s;
}

#_header__menu_content {
    width: 100%;
    max-width: var(--max-content-width);
}

.header__menu--modal {
    background-color: var(--color-1);
    overflow: hidden;
    height: 0;
    width: 100%;
    max-width: 400px;
    max-height: 320px;
    transition: all .4s ease;
    opacity: 0;
    gap: 20px;
}

.header__menu {
    margin: 0;
    padding: 0;
}

._header__menu_item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    text-transform: uppercase;
}

#_contact_us_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: var(--header-slogan-height);
    left: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    background: var(--color-1);
    transition: all .5s ease-in-out;
    opacity: 0;
    color: var(--color-text-1) ;
}

div#_contact_us_modal._show {
    height: 100vh;
    opacity: .9;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
}

.theme-switch {
    position: relative;
    width: 70px;
    height: 34px;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-text-1);
    border-radius: 34px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.slider:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background: var(--color-1);
    border-radius: 50%;
    transition: all 0.4s ease;
}

input:checked + .slider {
    background: var(--color-text-1)
}

input:checked + .slider:before {
    transform: translateX(36px);
}

.slider, .slider:before, .slider:after {
    transition: all 0.4s ease;
}

@media (max-width: 1450px) {
    #header > div.header__content.fx-row {
        padding: 0 10px;
    }
}

@media (max-width: 1050px) {
    :root {
        /*--header-slogan-height: 25px !important;*/
        --header-navigation-height: 50px !important;
        --header-desktop-height: calc(var(--header-slogan-height) + var(--header-navigation-height)) !important;
    }
}

@media (max-width: 768px) {
    ul.header__menu {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .header__socials._mobile {
        display: flex;
    }

    .header__socials:not(._mobile) {
        display: none;
    }

    div.header__content-logo_burger {
        width: 100%;
        justify-content: center;
        position: relative;
    }

    div.mobile__menu {
        position: absolute;
        left: 0;
    }

    div.header__menu--modal {
        max-width: 600px;
    }
}

@media (max-width: 425px) {
    div.header__content-logo {
        font-size: 27px;
    }

    li._header__menu_item {
        font-size: 16px;
    }
}
