/*PROJECT BANNER*/
div#_project_main_swiper {
    height: 100%;
}

div#_project_thumb_swiper {
    height: 20%;
}

div#_project_thumb_swiper .swiper-slide {
    opacity: .6;
}

div#_project_thumb_swiper .swiper-slide-thumb-active {
    opacity: 1;
}

.project-swiper.swiper {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.project-swiper.swiper-wrapper {
    display: flex;
    align-items: center;
}

.project-swiper.swiper-slide {
    width: auto !important;
    flex-shrink: 0;
    cursor: pointer;
}

.project-swiper.swiper-slide img {
    width: auto;
    height: 100%;
}

.swiper-pagination-progressbar-fill {
    background: var(--color-white) !important;
}

.project-swiper.swiper-button-next,
.project-swiper.swiper-button-prev {
    color: var(--color-text-1) !important;
}

.project-swiper.swiper-button-next::after,
.project-swiper.swiper-button-prev::after {
    font-size: 30px !important;
}
